<%- include('../partials/head'); %>

    <section class="bg-white dark:bg-gray-900">
        <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="place-self-center mr-auto lg:col-span-7">
                <div>
                    <img src="/static/dafit-logo.png" alt="logo" width="100" height="100">
                </div>
                <h1 class="mb-4 max-w-2xl text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl dark:text-white">DA-FIT</h1>
                <p class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Planes de entrenamiento gratuito. Entrena ahora con nosotros</p>
                <p class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">El comienzo de una revolución en la forma en que las personas acceden al ejercicio, la salud y el bienestar, dejando un legado perdurable en la búsqueda de una vida más saludable y activa para todos.</p>
                <a href="#" class="inline-flex justify-center items-center py-3 px-5 mr-3 text-base font-medium text-center text-black rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Comienza
                    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
                <a href="signup" class="inline-flex justify-center items-center bg-blue-500 py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-800 hover:bg-gray-400 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    Registrate ahora
                </a> 
            </div>
            <div class="lg:mt-0 lg:col-span-5 lg:flex">
                <img src="/static/dafitinicio.jpeg" alt="dafit" class="object-contain hover:object-scale-down">
            </div>                
        </div>
    </section>


    <section class="bg-gray-200 dark:bg-gray-800">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mb-8 max-w-screen-md lg:mb-16">
                <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Diseñado por expertos para todo el público.</h2>
                <p class="text-gray-500 sm:text-xl dark:text-gray-400">Aquí está DA-FIT enfocado en el mercado del deporte, la salud, la tecnología y la innovación. En DA-FIT desarrollamos las siguientes habilidades:</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                          
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Fuerza</h3>
                    <p class="text-gray-500 dark:text-gray-400"> Es la capacidad del cuerpo para ejercer resistencia contra una resistencia externa. Implica la capacidad de los músculos para generar tensión y superar una resistencia.</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Velocidad</h3>
                    <p class="text-gray-500 dark:text-gray-400">Se refiere a la rapidez con la que se puede realizar un movimiento o acción</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Resistencia</h3>
                    <p class="text-gray-500 dark:text-gray-400">Es la capacidad de mantener un esfuerzo físico durante un período prolongado.</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Flexibilidad</h3>
                    <p class="text-gray-500 dark:text-gray-400">Es la capacidad de los músculos y las articulaciones para moverse a través de un rango de movimiento completo.</p>
                </div>
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                          </svg>                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">Recuperación de lesiones</h3>
                    <p class="text-gray-500 dark:text-gray-400">Esta capacidad se refiere a la capacidad del cuerpo para sanar y recuperarse después de una lesión. La recuperación de lesiones puede mejorarse mediante un programa de rehabilitación adecuado, descanso adecuado, terapia física dirigida y cuidado profesional.</p>
                </div>
            </div>
        </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">No estamos inventando el ejercicio, lo estamos llevando a un nuevo nivel de conectividad.</h2>
                <p class="mb-4">Somos entrenadores y desarrolladores. Innovadores para resolver problemas y conectar a todos con la actividad fisica. </p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg" src="/static/dafitinicio2.jpeg" alt="content 1">
                <img class="mt-4 w-full rounded-lg lg:mt-10" src="/static/dafitinicio3.jpeg" alt="content 2">
            </div>
        </div>
    </section>




</body>
<%- include('../partials/footer'); %>
</html>