<%- include('../partials/headdashboard'); %>
<body>
    <main>
      <div class="h-screen bg-slate-50 flex justify-center items-center w-full">
          <form action="registrousuarioadmin" method="post">
            <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
              <img class="h-14 mb-4 mx-auto" src="/static/dafit-logo.png" alt="logo">
              <div class="space-y-4">
                <h1 class="text-center text-2xl font-semibold text-gray-600">Registro administrador</h1>
                <div>
                <label for="rol"  class="form-label block mb-1 text-gray-600 font-semibold">Rol</label>
                <select type="text" for="rol" name="rol" id="rol">
                    <option value="admin">admin</option>
                    <option value="cliente">cliente</option>
                </select>
                  <label for="cedula" class="form-label block mb-1 text-gray-600 font-semibold">Cédula o Documento de identidad:</label>
                  <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="cedula" name="cedula" required/>
                </div>
                <div>
                  <label for="nombre" class="form-label block mb-1 text-gray-600 font-semibold">Nombre:</label>
                  <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="nombre" name="nombre" required/>
                </div>
                <div>
                  <label for="apellido" class="form-label block mb-1 text-gray-600 font-semibold">Apellido:</label>
                  <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="apellido" name="apellido" required/>
                </div>
                <div>
                  <label for="fechadenacimiento" class="form-label block mb-1 text-gray-600 font-semibold">Fecha de Nacimiento:</label>
                  <input type="date" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="fechadenacimiento" name="fechadenacimiento" min="1920-04-01" max="2008-01-01" required/>
                </div>
                <div>
                  <label for="email" class="block mb-1 text-gray-600 font-semibold">Email: </label>
                  <input type="email" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="email" name="email" required/>
                </div>
                <div>
                  <label for="telefono" class="block mb-1 text-gray-600 font-semibold">Telefono:</label>
                  <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="telefono" name="telefono" max="9999999999" min="1000000000" required/>
                </div>
                <div>
                  <label for="password" class="block mb-1 text-gray-600 font-semibold">Password:</label>
                  <input type="password" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="password" name="password" required/>
  
                </div>
                <div>
                  <label for="confirmpw" class="block mb-1 text-gray-600 font-semibold">Confirmar Password:</label>
                  <input type="password" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" id="confirmpw" name="confirmpw" required/>
  
                </div>
              </div>
              <button type="submit" class="mt-4 w-full bg-blue-600 text-white font-semibold py-2 rounded-md  tracking-wide">Registrarse</button>
            </div>
          </form>
        </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
  <script>
    function comprobarClave() {
      let password = document.f1.password.value
      let confirmpw = document.f1.confirmpw.value
  
      if (password == confirmpw) {
         alert("Las dos claves son iguales.")
      } else {
         alert("Las dos claves son distintas.")
      }
  }
  </script>
  </html>